version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "monday"
      time: "06:00"
      timezone: "Europe/Paris"
    open-pull-requests-limit: 5
    groups:
      dependencies:
        patterns:
          - "*"
    reviewers:
      - "flavio-cbz"
    assignees:
      - "flavio-cbz"
    commit-message:
      prefix: "deps"
      include: "scope"
